<a href="https://colab.research.google.com/github/pavankumarpammi/WORK-MODELS/blob/main/web_scrapping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# web scrapping - extracting data from the web

In [ ]:
import requests
from  bs4 import BeautifulSoup  as bs

In [ ]:
url='https://www.amazon.in/Apple-iPhone-Pro-Max-256GB/product-reviews/B09G91FCBT/ref=cm_cr_getr_d_paging_btm_next_3?ie=UTF8&reviewerType=all_reviews&pageNumber=3'
page = requests.get(url) #extract data from web
page # response [200] is okay and response [503] is an error
# if response is [500] then re run the code until getting a [200] up to 10 times

In [ ]:
page.content 
# it is a source html code to a reable data

In [ ]:
soup = bs(page.content,'html.parser')
# it make the source code for better understanding

In [ ]:
soup

In [ ]:
names = soup.find_all('span',class_ = 'a-profile-name')
names

[<span class="a-profile-name">Amazon Customer</span>,
 <span class="a-profile-name">raghav</span>,
 <span class="a-profile-name">Vicky</span>,
 <span class="a-profile-name">karthik</span>,
 <span class="a-profile-name">Resham Rana</span>,
 <span class="a-profile-name">Rakshit Ranjan Singh</span>,
 <span class="a-profile-name">Gagan anand</span>,
 <span class="a-profile-name">Sandip Adhav</span>,
 <span class="a-profile-name">Sumit Khinchi</span>,
 <span class="a-profile-name">Arindam Dey</span>,
 <span class="a-profile-name">HPCL A/C Gourav Singh Rathore</span>,
 <span class="a-profile-name">ranjeet</span>]

In [ ]:
names = soup.find_all('span',class_ = 'a-profile-name')[1:]
names

[<span class="a-profile-name">raghav</span>,
 <span class="a-profile-name">Vicky</span>,
 <span class="a-profile-name">karthik</span>,
 <span class="a-profile-name">Resham Rana</span>,
 <span class="a-profile-name">Rakshit Ranjan Singh</span>,
 <span class="a-profile-name">Gagan anand</span>,
 <span class="a-profile-name">Sandip Adhav</span>,
 <span class="a-profile-name">Sumit Khinchi</span>,
 <span class="a-profile-name">Arindam Dey</span>,
 <span class="a-profile-name">HPCL A/C Gourav Singh Rathore</span>,
 <span class="a-profile-name">ranjeet</span>]

In [ ]:
type(names)

list

In [ ]:
len(names)

11

In [ ]:
# now create a data frame
import pandas as pd
df=pd.DataFrame(names,columns={'customer name'})
df=df[0:10]
df
# in case of duplicates we drop down the data

                   customer name
0                         raghav
1                          Vicky
2                        karthik
3                    Resham Rana
4           Rakshit Ranjan Singh
5                    Gagan anand
6                   Sandip Adhav
7                  Sumit Khinchi
8                    Arindam Dey
9  HPCL A/C Gourav Singh Rathore

In [ ]:
# now the next things is review title
r_title = soup.find_all('a',class_= 'review-title')
r_title

In [ ]:
len(r_title)

10

In [ ]:
# Data cleaning
review_title=[]
for i in range(0,len(r_title)):
  review_title.append(r_title[i].get_text()[1:-1])
review_title

['Super se v upper',
 'Packing',
 'I m very happy with the item I have received there is no any complaints',
 'Being an iPhone it is costly but worthy',
 'Very easy to ise',
 'Best phone in the market',
 'Perfect device, amazing speed.',
 'Awesome',
 'Classy phone',
 'Impressed with battery life']

In [ ]:
r_date = soup.find_all('span',class_ ='review-date')
r_date

[<span class="a-size-base a-color-secondary review-date">Reviewed in India 🇮🇳 on 17 December 2021</span>,
 <span class="a-size-base a-color-secondary review-date">Reviewed in India 🇮🇳 on 30 September 2021</span>,
 <span class="a-size-base a-color-secondary review-date" data-hook="review-date">Reviewed in India 🇮🇳 on 12 August 2022</span>,
 <span class="a-size-base a-color-secondary review-date" data-hook="review-date">Reviewed in India 🇮🇳 on 10 August 2022</span>,
 <span class="a-size-base a-color-secondary review-date" data-hook="review-date">Reviewed in India 🇮🇳 on 10 August 2022</span>,
 <span class="a-size-base a-color-secondary review-date" data-hook="review-date">Reviewed in India 🇮🇳 on 29 July 2022</span>,
 <span class="a-size-base a-color-secondary review-date" data-hook="review-date">Reviewed in India 🇮🇳 on 14 August 2022</span>,
 <span class="a-size-base a-color-secondary review-date" data-hook="review-date">Reviewed in India 🇮🇳 on 10 August 2022</span>,
 <span class="a-size-base a-color-secondary review-date" data-hook="review-date">Reviewed in India 🇮🇳 on 8 August 2022</span>,
 <span class="a-size-base a-color-secondary review-date" data-hook="review-date">Reviewed in India 🇮🇳 on 11 August 2022</span>,
 <span class="a-size-base a-color-secondary review-date" data-hook="review-date">Reviewed in India 🇮🇳 on 30 July 2022</span>,
 <span class="a-size-base a-color-secondary review-date" data-hook="review-date">Reviewed in India 🇮🇳 on 5 August 2022</span>]

In [ ]:
len(r_date)

12

In [ ]:
review_date=[]
for i in range(0,len(r_date)):
  review_date.append(r_date[i].get_text().replace('Reviewed in India 🇮🇳 on ',''))
review_date=review_date[0:10]
review_date
# by removing the text reviewed in india can be done in two ways by slicing and replacing it

['17 December 2021',
 '30 September 2021',
 '12 August 2022',
 '10 August 2022',
 '10 August 2022',
 '29 July 2022',
 '14 August 2022',
 '10 August 2022',
 '8 August 2022',
 '11 August 2022']

In [ ]:
# review the rating of product
rating = soup.select('i.review-rating')
rating

[<i class="a-icon a-icon-star a-star-5 review-rating" data-hook="review-star-rating-view-point"><span class="a-icon-alt">5.0 out of 5 stars</span></i>,
 <i class="a-icon a-icon-star a-star-1 review-rating" data-hook="review-star-rating-view-point"><span class="a-icon-alt">1.0 out of 5 stars</span></i>,
 <i class="a-icon a-icon-star a-star-5 review-rating" data-hook="review-star-rating"><span class="a-icon-alt">5.0 out of 5 stars</span></i>,
 <i class="a-icon a-icon-star a-star-5 review-rating" data-hook="review-star-rating"><span class="a-icon-alt">5.0 out of 5 stars</span></i>,
 <i class="a-icon a-icon-star a-star-5 review-rating" data-hook="review-star-rating"><span class="a-icon-alt">5.0 out of 5 stars</span></i>,
 <i class="a-icon a-icon-star a-star-5 review-rating" data-hook="review-star-rating"><span class="a-icon-alt">5.0 out of 5 stars</span></i>,
 <i class="a-icon a-icon-star a-star-5 review-rating" data-hook="review-star-rating"><span class="a-icon-alt">5.0 out of 5 stars</span></i>,
 <i class="a-icon a-icon-star a-star-5 review-rating" data-hook="review-star-rating"><span class="a-icon-alt">5.0 out of 5 stars</span></i>,
 <i class="a-icon a-icon-star a-star-5 review-rating" data-hook="review-star-rating"><span class="a-icon-alt">5.0 out of 5 stars</span></i>,
 <i class="a-icon a-icon-star a-star-5 review-rating" data-hook="review-star-rating"><span class="a-icon-alt">5.0 out of 5 stars</span></i>,
 <i class="a-icon a-icon-star a-star-5 review-rating" data-hook="review-star-rating"><span class="a-icon-alt">5.0 out of 5 stars</span></i>,
 <i class="a-icon a-icon-star a-star-3 review-rating" data-hook="review-star-rating"><span class="a-icon-alt">3.0 out of 5 stars</span></i>]

In [ ]:
len(rating)

12

In [ ]:
#data cleaning
review_rating=[]
for i in range(0,len(rating)):
  review_rating.append(rating[i].get_text())
review_rating=review_rating[0:10]
review_rating

['5.0 out of 5 stars',
 '1.0 out of 5 stars',
 '5.0 out of 5 stars',
 '5.0 out of 5 stars',
 '5.0 out of 5 stars',
 '5.0 out of 5 stars',
 '5.0 out of 5 stars',
 '5.0 out of 5 stars',
 '5.0 out of 5 stars',
 '5.0 out of 5 stars']

In [ ]:
# next review the content
content= soup.select('span.review-text')
content

In [ ]:
len(content)

10

In [ ]:
review_content=[]
for i in range(0,len(content)):
  review_content.append(content[i].get_text().replace('\n',''))
review_content

['No words , exceptional',
 'Excellent',
 'I like the delivery time and what i purchased it’s worth for money I m loving it',
 '                    The media could not be loaded.                \xa0Used for a week nowBattery is good 24-28hrsCamera is best but need enough light for a good photoScreensize is good for the pro maxCharging is fast, need to stop some background services and app to save more battery lifeBack tap works on hard case as well just need to tap harderNo finger print but face Id is fine sometimes it doesn’t work due to wrong angle or maybe dim lightWill update soon for more',
 'Everything is perfect',
 "This is my first ever Iphone.  I'm android user for 10 years and just switched to this Iphone13pro max. no regrets at all!Better than any Android phone in the market, super build quality and the camera.",
 '',
 'Awesome',
 '                    The media could not be loaded.                \xa0I was using one plus series from last 5 years, this time was confused Galaxy S22 ultra and Apple 13 pro max, Had visitors to store and found except for zoom quality of S22 ultra everything was better in 13 Max pro , Though the price is on quite higher side compare to S22 Ultra however it gives you pleasure of having a classy phone in your hands which was missing in S22.',
 'IPhone is like beautiful girlfriend with lot of tantrums but just to show off it’s good, very pricy due to govt tax in India. No lot of freedom like androidBut really impressed with its 4 days battery life']

In [ ]:
review_content[9]

'IPhone is like beautiful girlfriend with lot of tantrums but just to show off it’s good, very pricy due to govt tax in India. No lot of freedom like androidBut really impressed with its 4 days battery life'

In [ ]:
df['Review Title']=review_title
df['Review date']=review_date
df['Review Rating']=review_rating
df['Review content']=review_content
df

,customer name,Review Title,Review date,Review Rating,Review content
0,raghav,Super se v upper,17 December 2021,5.0 out of 5 stars,"No words , exceptional"
1,Vicky,Packing,30 September 2021,1.0 out of 5 stars,Excellent
2,karthik,I m very happy with the item I have received t...,12 August 2022,5.0 out of 5 stars,I like the delivery time and what i purchased ...
3,Resham Rana,Being an iPhone it is costly but worthy,10 August 2022,5.0 out of 5 stars,The media could not be loa...
4,Rakshit Ranjan Singh,Very easy to ise,10 August 2022,5.0 out of 5 stars,Everything is perfect
5,Gagan anand,Best phone in the market,29 July 2022,5.0 out of 5 stars,This is my first ever Iphone. I'm android use...
6,Sandip Adhav,"Perfect device, amazing speed.",14 August 2022,5.0 out of 5 stars,
7,Sumit Khinchi,Awesome,10 August 2022,5.0 out of 5 stars,Awesome
8,Arindam Dey,Classy phone,8 August 2022,5.0 out of 5 stars,The media could not be loa...
9,HPCL A/C Gourav Singh Rathore,Impressed with battery life,11 August 2022,5.0 out of 5 stars,IPhone is like beautiful girlfriend with lot o...